# Node.js sõltuvused
node_modules/

# Keskkonnamuutujad
.env

# Logifailid
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build kaustad (kui kasutad frontend buildi)
dist/
build/

# OS spetsiifilised failid
.DS_Store
Thumbs.db

# IDE failid (VS Code)
.vscode/
.idea/