html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: block;
  background: #050510;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

:root {
  color-scheme: dark;
  color: #fff;
  background: #050510;
}

